* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* COMMON */
a {
  /* bỏ gạch chân */
  text-decoration: none;
}

.main-content {
  width: 1170px;
  /* cách 2 bên mỗi bên 28px */
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  /* đổi display để thêm khoảng đệm */
  display: inline-block;
  min-width: 118px;
  padding: 0px 16px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 1.6rem;
  border-radius: 24.5px;
  background: #171100;
}
/* HEADER */
.header {
  background: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
}

.header .body {
  /* Tác động vào class body con của header */
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.logo {
  width: 50px;
}
.nav {
  /* lôi những phần tử sau nó sang phải */
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
  position: relative;
}

.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  /* không làm lệch phần text */
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

.header .btn-sign-up {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}
